.auth-dialogs.hide.ani04
   form.login-frame.hide.ani04
      .welcome
         span(data-html-loginText)=core_text.loginText
         span.icon-cancel-circle(tabindex=0)
      input.username(placeholder=core_text.login_username_placeholder, data-placeholder-login_username_placeholder, type="text", required)
      input.password(placeholder=core_text.login_password_placeholder, data-placeholder-login_password_placeholder, type="password", required)
      .forgot-password
         a(tabindex=0, data-html-forgot_password, class="fpass-btn")=core_text.forgot_password
      .no-robot#login_no_robot
      .error.ani04
      input(type="submit", data-val-log_in, value=core_text.log_in).done
      .oauth-wrapper
         a.fb.disabled(tabindex=0)
            span.icon-facebook
            span(data-html-sign_in_with)=core_text.sign_in_with
            b Facebook
         a.g-plus.disabled#g_log(tabindex=0)
            span.icon-google-plus
            span(data-html-sign_in_with)=core_text.sign_in_with
            b Google+
      .acc-question
         span(data-html-no_acc_question)=core_text.no_acc_question
         a.create-acc(tabindex=0, data-html-registerText)=core_text.registerText
      .loader
   form.register-frame.hide.ani04
      .welcome
         span(data-html-registerText)=core_text.registerText
         span.icon-cancel-circle(tabindex=0)
      input.username(placeholder=core_text.register_username_placeholder, data-placeholder-register_username_placeholder, type="text", required)
      input.password(placeholder=core_text.register_password_placeholder, data-placeholder-register_password_placeholder type="password", required)
      .no-robot#register_no_robot
      .error.ani04
      input(type="submit", data-val-register, value=core_text.register).done
      .oauth-wrapper
         a.fb.disabled(tabindex=0)
            span.icon-facebook
            span(data-html-sign_in_with)=core_text.sign_in_with
            b Facebook
         a.g-plus.disabled#g_reg(tabindex=0)
            span.icon-google-plus
            span(data-html-sign_in_with)=core_text.sign_in_with
            b Google+
      .acc-question
         span(data-html-login_question)=core_text.login_question
         a.log-acc(tabindex=0, data-loginText)=core_text.loginText
      .loader
   form.forgot-password-frame.hide.ani04
      .welcome
         span(data-html-recover_password_title)=core_text.recover_password_title
         span.icon-cancel-circle(tabindex=0)
      .min-height-wrapper
         .not-sent-yet
            .fpass-text(data-html-fpass_main_text)=core_text.fpass_main_text
            input.username(placeholder=core_text.register_username_placeholder, data-placeholder-register_username_placeholder, type="text", required)
            .no-robot#fpass_no_robot
            .error.ani04
            input(type="submit", data-val-send_email, value=core_text.send_email).done
         .success(data-html-forgot_password_success)!=core_text.forgot_password_success
      .acc-question
         a.log-acc(tabindex=0, data-menu_signin)=core_text.menu_signin
         span=" - "
         a.create-acc(tabindex=0, data-registerText)=core_text.registerText
      .loader
   form.recover-password-frame.hide.ani04
      .welcome
         span(data-html-new_password)=core_text.new_password
         span.icon-cancel-circle(tabindex=0)
      .min-height-wrapper
         .not-sent-yet
            .fpass-text(data-html-recover_pass_main_text)=core_text.recover_pass_main_text
            input.password(placeholder=core_text.new_password, title=global.clientData.min_pass_length+" - "+global.clientData.max_pass_length+" "+core_text.characters, pattern=".{"+global.clientData.min_pass_length+","+global.clientData.max_pass_length+"}", data-placeholder-new_password type="password", required)
            input.token(type="hidden")
            .error.ani04
            input(type="submit", data-val-save_new_password, value=core_text.save_new_password).done
         .success(data-html-password_updated_text)!=core_text.password_updated_text
      .acc-question
         a.log-acc(tabindex=0, data-menu_signin)=core_text.menu_signin
         span=" - "
         a.create-acc(tabindex=0, data-registerText)=core_text.registerText
      .loader

      
