.settings-selector-group.white-box
   .title(data-html-settings)=coreText.settings
   a.settings-option(href="/settings", data-html-general)=coreText.general
   a.settings-option(href="/settings/password", data-html-password)=coreText.password
   a.settings-option(href="/settings/accounts", data-html-accounts)=coreText.accounts
   //- a.settings-option.expandable(data-html-games)=coreText.games
   //- a.settings-option.inner(data-html-clash_of_clans)=coreText.clash_of_clans
   a.settings-option(data-html-merge)=coreText.merge
