.settings-selector-group.white-box
   .title(data-html-settings)=coreText.administrator
   a.settings-option(tabindex=0, href="/settings/admin/general", data-html-general)=coreText.general
   a.settings-option(tabindex=0, href="/settings/admin/configuration", data-html-configuration)=coreText.configuration
   a.settings-option(tabindex=0, href="/settings/admin/text", data-html-text)=coreText.text
   a.settings-option(tabindex=0, href="/settings/admin/merge-requests", data-html-merge_requests)=coreText.merge_requests
