.settings-page-group.white-box(data-controller="settingsUserAccounts")
   .title(data-html-accounts)=coreText.accounts
   .prop-name(data-html-connect_services)=coreText.connect_services
   .prop-desc(data-html-connect_services_description)=coreText.connect_services_description
   .prop-hr
   each option in oauthOptions
      .acc(data-option-id=option.id)
         .connection-status
            .not-connected(style=user[option.connectedKey]?"display:none":"")
               button.green.button(data-html-connect)=coreText.connect
            .connected(style=!user[option.connectedKey]?"display:none":"")
               .prop-verified
                  span.icon-checkmark
                  span(data-html-connected)=coreText.connected
                  span.dc(data-html-disconnect)=coreText.disconnect
         .img(style="background-image: url("+option.image+");")
         span.prop-name=option.name
         br
         span.prop-desc(`data-html-${option.descKey}`=1)=coreText[option.descKey]
      .prop-hr
