.settings-page-group.white-box(data-controller="settingsUserAccounts")
   .title(data-html-accounts)=coreText.accounts
   .prop-name(data-html-connect_services)=coreText.connect_services
   .prop-desc(data-html-connect_services_description)=coreText.connect_services_description
   .prop-hr
   .acc
      span.prop-name Facebook
      button.green.button(data-html-connect)=coreText.connect
   .prop-hr
   .acc
      span.prop-name Google+
      button.green.button(data-html-connect)=coreText.connect
   .prop-hr
   .acc
      span.prop-name Battle.net
      button.bnet.green.button(data-html-connect)=coreText.connect
   .prop-hr
