.settings-page-group.white-box(data-controller="settingsUserPassword")
   .title(data-html-password)=coreText.password
   .prop-name(data-html-new_password)=coreText.new_password
   input.prop-input.np(type="password")
   .prop-name(data-html-repeat_new_password)=coreText.repeat_new_password
   input.prop-input.np2(type="password")
   .prop-name(data-html-current_password)=coreText.current_password
   input.prop-input.cp(type="password")
   .prop-desc(data-html-current_password_message)=coreText.current_password_message
   .error
   button.submit.green.button(data-html-update_password, style="display: block; margin: 25px 0 0 20px")=coreText.update_password
